/*
	File: hdssystem.css
	Details: This file contains styles used by all browser interviews, regardless of theme or
			 interview type. (Although it is used by Silverlight interviews, only a small subset
			 of the styles defined here are actually used when running a Silverlight interview;
			 only when the interview is displaying HTML content are these styles used.)
*/

/** This class is added to the root interview container (#hdMainDiv in the case of a regular interview and .hd-popup for a popup interview. **/
DIV.hd-interview-base { font-family: sans-serif; }
DIV.hd-interview-base * button, .hd-interview-base * input, .hd-interview-base * textarea { font:inherit; }

/** Wrappers: These are the top level DOM elements, beginning with hdMainDiv, which is the root interview container. **/
#hdMainDiv { overflow: hidden; cursor: default; }
	#hdMainDiv, #hdMainDiv * DIV, #hdMainDiv * TABLE, .hdDefault, .hdDefault *, .hd-popup, .hd-dialog-control * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#hdWrapper { position: relative; overflow:hidden; }
#hdHost { }
#InterviewEngine { }
#hdBodyDiv { display: inline-table; }
#HDPreCSSProgress { display:none; }

/** Splash Screen: Displays user-specified image and/or text while interview is loading. **/
#hdSplash { visibility:hidden; border:2px solid black; border-radius:5px; background-color:white; position:absolute; z-index:102; left:200px; max-width:40%; top:100px; max-height:80%; overflow:hidden; text-align:center; padding:10px; }
#hdSplash div { text-align:right; }
#hdSplash img { max-width:100%; max-height:80%; }

/** ServerResponse: "Modal" widget displayed on top of interview when user clicks document preview, save answers, answer summary, help, etc. **/
#hdServerResponse { position: absolute; top: 0; z-index: 99; visibility: hidden; }
#hdModalResponse { padding: 8px; }
#hdModalResponse:focus { outline: none; }
DIV.hd-response-title { white-space: nowrap; overflow: hidden; }
DIV.hd-response-header { overflow: hidden; padding-top:0; padding-bottom:0; }
DIV.hd-response-footer { padding: 4px; text-align: right; overflow: hidden; }
DIV.hd-response-btns { float: right; }
BUTTON.hd-response-print { visibility: hidden; width: auto; overflow: visible; padding-left: 5px; padding-right: 5px; margin: 2px; }
BUTTON.hd-response-return { width: auto; overflow: visible; padding-left: 5px; padding-right: 5px; margin: 2px; }
#hdServerResponse * button, #hdModalResponse * button {  height:2.2em; }
#hdServerResponse, #hdModalResponse { background-color:white; }

/** Shader: Displayed on top of the interview during initial loading or answer submission at end of interview. **/
#hdShader { position: absolute; display: block; left: 0; top: 0; width: 100%; height: 100%; z-index:101; background-color: gray; }

/** Loader Progress Bar: Displayed as each script and supporting file is loaded before the interview starts. **/
#hdLoaderBar { position: absolute; left: 12.5%; top: 35%; width: 75%; z-index:101; }
DIV.hd-loader-progbar-mtr { text-align: right; background-color: white; }
DIV.hd-loader-progbar-pct { float: right; }
DIV.hd-loader-progbar-bar { background-color:skyblue; }
SPAN.hd-loader-progbar-msg { }

/** Error Box: Displays critical error messages during loading or runtime. **/
#hdErrorDiv { position: absolute; display: none; left: 12.5%; top: 35%; width: 75%; z-index: 101; padding: 12px; }
DIV.hd-error-32 { float: left; border: none; margin-right: 6px; margin-bottom: 100px; z-index:101; }
DIV.hd-error-msg { z-index:101; }

/** HD3DObject: Class applied to navigation bar, server response footer, and interview splitters to give them a 3D look. **/
.HD3DObject { border-width: 1px; background-color: #dadbeb; }

/** Interview Toolbar: Displays template title and buttons for performing various tasks during the interview. */
#hdHeading { }
DIV.hd-titlebar {  }
DIV.hd-titlebar-title { width: 100%; margin-left: 5px; }
DIV.hd-titlebar-icon { margin-right: 2px; }
DIV.hd-titlebar-buttons { float: right; cursor: default; }
DIV.hdtb-icon { white-space: nowrap; background-repeat: no-repeat; float: left; margin-left: 2px; border: 1px solid black; }
DIV.hdtb-hot { background-color: #c9d4f4; }
DIV.hdtb-text { float: left; white-space: nowrap; padding: 2px; min-height:20px; }

/** Navigation Bar: A set of buttons displayed below the interview to allow navigation from one dialog to the next. **/
#hdNavBar { position: relative; width: 100%; overflow: hidden; }
#hdNavBar * button { height:28px; margin: 5px; padding:1px 5px 3px 5px; }
DIV.hd-nav-table { vertical-align: middle; width: 100%; margin: 0; padding: 0; }
DIV.hd-nav-left { float: left; text-align: left; }
DIV.hd-nav-middle { text-align: center; margin-left: auto; margin-right: auto; }
DIV.hd-nav-right { float: right; text-align: right; }

/** Progress Bar: Displayed below the navigation bar to indicate how many questions have been answered in the interview. **/
DIV.hd-progress { height: 5px; background-color: #ffffff; }
DIV.hd-progress DIV { height: 100%; }
DIV.hd-progress-normal { background-color: blue; }
DIV.hd-progress-required { background-color: red; }
DIV.hd-progress-complete { background-color: green; }

/** Interview Outline: List of dialogs (in the form of a tree) shown on the left side of the interview. **/
#hdOutlineDiv { position: relative; padding: 0; height: 100%; }
#hdOutlineContent { overflow: hidden; width: 100%; height: 100%; cursor: default; padding: 0; position: relative; }
#hdOutlineContent a, #hdOutlineContent ins { text-decoration: none; }
#hdOutlineContent ul { list-style-type: none; }
#hdOutlineContent ul, #hdOutlineContent li { margin: 0; padding: 0; }
#hdOutlineContent ul li ul { margin-left: 18px; }
#hdOutlineContent ins { display: inline-block; }
#hdOutlineContent .hd-img, #hdOutlineContent .hd-img-g { float: none; }
#hdOutlineContent * li { white-space: nowrap; }
#hdOutlineTree { overflow: auto; position: relative; padding-right: 5px; }
#hdOutlineCurrent { cursor: default; background-color: #dfe3e9; }
#hdOutlineTitle { overflow: hidden; position: absolute; top: 0; width: 100%; border:1px solid transparent; line-height:20px; }
.hd-ol-caption-text { white-space: nowrap; overflow:hidden; }
.hd-ol-entry { display: inline-block; vertical-align: top; padding: 0 2px 0 2px; border-radius: 3px; }
.hd-ol-entry:hover { background-color: #eaf5fc; }
.hd-ol-entry-d { }

/** Resource Pane: Displayed below the dialog to provide additional information about the dialog or individual questions. **/
#hdResourcePane { padding: 5px; margin: 0; border: 0; overflow: auto; position: relative; }

/** Popup Window (used for popup resource or other "alerts") */
.hd-popup { position: absolute; background:none; z-index:99; background-color: #ffffff; }
.hd-popup .ui-dialog-title { margin: 0 25px 0 25px; cursor: default; line-height: 20px; white-space: nowrap; }
.hd-popup .ui-dialog-titlebar { border-radius: 4px 4px 0 0; padding: 5px 0 5px 0; }
.hd-popup .ui-widget-header { border:none; }
.hd-popup .ui-widget-content { background-color:transparent; }
.hd-popup .ui-dialog-content { margin: 10px; overflow: auto; }
.hd-popup .ui-dialog-buttonpane { margin: 10px; text-align: right; }
.hd-popup .ui-dialog-titlebar-close { float: right; border: 0; margin: 0; padding: 0; height: 20px; width: 20px; background-color: transparent; background:none; top:5px; }
.hd-popup .ui-dialog-titlebar-close .ui-icon { text-indent: -99999px; display: block; overflow: hidden; left:auto;top:auto;margin:0; background-position: 0 -100px; height: 20px; width: 20px; background-size: 260px;}
.hd-popup .ui-resizable { position: relative; }
.hd-popup .ui-resizable-handle { position: absolute; font-size: 0.1px; display: none; }
.hd-popup .ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.hd-popup .ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.hd-popup .ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.hd-popup .ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.hd-popup .ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.hd-popup .ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.hd-popup .ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.hd-popup .ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.hd-popup .ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px; }
.hd-popup .ui-icon { overflow: hidden; text-indent: -99999px; display: block; }
.hd-popup .ui-icon .hd-blank { width: 0; }
.hd-popup .ui-button { margin: 2px; overflow:hidden; }
.hd-popup .ui-button-text { line-height: 20px; }

/** Popup Menus */
.hd-popup-elem { position: absolute; z-index: 99; }

/** Answer Summary: A list of questions and answers from the interview that is shown by clicking the Answer Summary toolbar button.  **/
TD.HDASDlgTitle { }
TD.HDASVarPrompt { }
TD.HDASDlgElem { }
TD.HDASAnsValue { }

/** Interview Help: Displayed when the user clicks the Help button on the interview toolbar. **/
DIV.hd-help { margin-bottom: 10px; }
TABLE.hd-help-table { width: 100%; }
TABLE.hd-help-table th { text-align: left; }
UL.hd-help-ul { list-style-type: none; padding-left: 20px; }
UL.hd-help-ul li { line-height:20px; }
UL.hd-help-ul li div { margin-right: 5px; }
TH.hd-help-col-one { width: 30%; }

/** Shortcut Menu: Displayed when you click the button on the right side of the dialog title bar. **/
DIV.hd-menu { overflow: hidden; border: 1px solid gray; }
DIV.hd-menu-base { position: relative; height: 25px; background-color: Menu; }
DIV.hd-menu-disabled { color: GrayText; }
DIV.hd-menu-hilite { background-color:lightgray; }
DIV.hd-menu-iconbkgrd { height: 100%; width: 40px; background-color:gray; }
DIV.hd-menu-item { border: 1px solid transparent; position: absolute; top: 2px; left: 1%; height: 21px; }
DIV.hd-menu-icon { margin-left: 5px; }
DIV.hd-menu-caption { padding: 3px 5px 3px 45px; }
HR.hd-menu-divider { margin: 0; position: relative; top: -10px; }

/** Dot Codes: Allow template authors to apply formatting to titles, prompts, and other interview text. **/
.dot-b /* bold */ { font-weight: bold; }
.dot-i /* italic */ { font-style: italic; }
.dot-u /* underline */ { text-decoration: underline; }
.dot-x /* strike through */ { text-decoration: line-through; }
.dot-s /* small caps */ { font-variant: small-caps; }
.dot-a /* uppercase */ { text-transform: uppercase; }
.dot-h /* hidden */ { visibility: hidden; }
.dot-l /* Capitalize first letter of each word */ { text-transform: capitalize; }
.dot-w /* web link */ { cursor: pointer; color: #0000ff; text-decoration: underline; }

/** DatePicker: These styles apply to the popup calendar displayed for Date variables. **/
DIV.hd-datepicker { width: 200px; position: absolute; z-index: 99; }
TABLE.hd-datepicker-grid { width: 200px; }
TD.hd-datepicker-titlebar { background-color: white; }
TD.hd-datepicker-titlebar TABLE { width: 100%; }
TD.hd-datepicker-titlebar div { cursor: pointer; }
TD.hd-datepicker-title { width: 100%; text-align: center; }
TD.hd-datepicker-day { text-align: center; background-color: #ffffff; }
TD.hd-datepicker-label { }
TD.hd-datepicker-weekend { }
TD.hd-datepicker-selected { background-color: #bbbccc; color: #ffffff; }
TD.hd-datepicker-today { background-color: #dfe3e9; }

/** Dialog Elements: Used to display text, graphics, buttons, and hyperlinks in dialogs. **/
.DlgElemLnk { text-align: left; border: none; background-color: Transparent; cursor: pointer; padding: 0; }
.DlgElemLnkText { vertical-align: top; padding: 0; }
.DlgElemLnkText * { color: Blue !important; text-decoration: underline; }

/** ValidationErrorControl: Displayed below date and number fields with invalid answers. **/
DIV.hd-validation { display: none; }
DIV.hd-validation SPAN { margin-left: 5px; }

/** Dialog Error (ERRORTEXT) **/
DIV.hd-dialog-error { min-height:45px; border:1px solid red; margin:5px; padding:5px; border-radius:5px; background-color:pink; }
DIV.hd-dialog-error-text { margin-left:38px; }
DIV.hd-dialog-error > DIV { margin-bottom:0; }

/** DataGrid: Used to display spreadsheet dialogs and answer sources in a grid. **/
DIV.hd-grid { cursor: pointer; border: 1px solid; position: relative; }
DIV.hd-grid table { table-layout: fixed; border-collapse: collapse; width: 100%; }
DIV.hd-grid * DIV { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
DIV.hd-grid table tr td { vertical-align: top; }
TR.hd-grid-header { border-bottom-width: 1px; border-bottom-style: solid; }
TR.hd-grid-header TD.hd-grid-left { border-right-width: 1px; border-right-style: solid; padding: 4px; }
TR.hd-grid-header TD.hd-grid-right { overflow: hidden; }
TR.hd-grid-header TD.hd-grid-right DIV { max-height: 24px; overflow: hidden; position:relative; }
TR.hd-grid-body { }
TR.hd-grid-body TD { overflow: hidden; padding: 0; }
TD DIV.hd-grid-col-splitter { float:right; margin-right: -5px; width: 10px; height: 22px; }
DIV.hd-grid-col-splitter:hover { cursor: ew-resize; }
DIV.hd-grid-rh { position: absolute; background-color: #F2F5F8; padding: 4px; height: 28px; left: 0; border-right: 1px solid white; z-index: 1; }
DIV.hd-grid-rh-num { line-height: 20px; width: 100%; text-align: right; position: absolute; left: 0; top:0; padding:4px; }
DIV.hd-grid-arrow { visibility: hidden; }
DIV.hd-grid-selected .hd-grid-arrow { visibility: visible; }
DIV.hd-grid-row-cells { position: relative; z-index: 0; width: 100%; }
DIV.hd-grid-row { padding: 0; position: relative; overflow: hidden; z-index:50; }
DIV.hd-grid-row DIV { height: 28px; }
DIV.hd-grid-row DIV.hd-img { height: 20px; }
DIV.hd-grid-row BUTTON.hd-child-btn { padding: 0; }
DIV.hd-grid-selected { z-index:51; background-color: #badde9; }
.hd-grid-cell { float: left; border-right-width: 1px; border-right-style: solid; overflow: hidden; white-space: nowrap; }
.hd-grid-cell div { /*padding: 4px;*/ }
.hd-grid-cell input { margin: 0; border: 0; height: 100%; width: 100%; background-color: transparent; padding: 4px; }
.hd-grid-cell input:focus, .hd-grid-cell input:active, .hd-grid-cell input.active { background-color: white; border:2px solid #85B5C4; }
.hd-grid-cell input::-webkit-input-placeholder { color: transparent; }
.hd-grid-cell input:focus::-webkit-input-placeholder { color: #C9CACA; }
.hd-grid-cell select { width: 100%; background-color: transparent; border: none; -webkit-appearance: none; }
.hd-grid-cell select:focus, .hd-grid-cell select:active { background-color: white; -webkit-appearance: menulist-button; border:2px solid #85B5C4; }
.hd-grid-col-title { display: inline-block; padding: 0; width: auto; white-space: nowrap; overflow: hidden; border-right-width: 1px; border-right-style: solid; float: left; padding-top:4px;}
.hd-grid-col-title span { padding-left: 4px; }
.hd-grid-col-title div { overflow: hidden; }
.hd-grid-col-title:hover { background: #ffffff; -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cccccc')"; 
background: -moz-linear-gradient(top, #ffffff 0, #cccccc 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#ffffff), color-stop(100%,#cccccc)); background: -webkit-linear-gradient(top, #ffffff 0,#cccccc 100%); background: -o-linear-gradient(top, #ffffff 0,#cccccc 100%); background: -ms-linear-gradient(top, #ffffff 0,#cccccc 100%); background: linear-gradient(to bottom, #ffffff 0,#cccccc 100%); }
.hd-grid-col-title-resize, .hd-grid-col-title-resize:hover { background: #ffffff; -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ababab')"; background: -moz-linear-gradient(top, #ffffff 0, #ababab 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#ffffff), color-stop(100%,#ababab)); background: -webkit-linear-gradient(top, #ffffff 0,#ababab 100%); background: -o-linear-gradient(top, #ffffff 0,#ababab 100%); background: -ms-linear-gradient(top, #ffffff 0,#ababab 100%); background: linear-gradient(to bottom, #ffffff 0,#ababab 100%); }
.hd-grid-buttongrid { padding: 3px; float: right; border: 1px solid #A1ADB8; border-radius: 3px; }
.hd-grid-button-hover { border: 1px solid #45d6fa; border-radius: 3px; background-color: #badde9; }

/** GridSplitter (Interview Outline and Resource Pane) **/
.hd-gridsplitter { text-align: center; overflow: hidden; padding: 0; }
.hd-gridsplitter-v { width: 5px; cursor: e-resize; }
.hd-gridsplitter-h { height: 5px; cursor: n-resize; border-width: 1px; border-left-width: 0; margin-left: -1px; }

@media screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	/* iPad: We want to have larger splitters, buttons, etc. */
	.hd-gridsplitter-v { width: 1em; }
	.hd-gridsplitter-h { height: 1em; }
}

#hdBodyRow td { vertical-align: top; }


TD.hd-input-currency { vertical-align:middle !important; }


.hd-btn-text { display: inline-block; line-height:20px; }

/** UI Images **/
.hd-img, .hd-img-g { float: left; background-repeat: no-repeat; }
.hd-img, .hd-img-g, .hd-lin-s { background-size: 260px; }
.hd-nav-text { float: left; padding: 3px 0 3px 0; }
.hd-blank { background-image: none !important; }
.hd-blank.hd-img-g { opacity: 0.5; }

/** Navigation Bar Images **/
.hd-nav-Sep { display: inline-block; float: none; margin: 0; position: relative; top: 5px; }
.hd-grid-buttongrid .hd-nav-Sep { top: 0; }

/** Calendar Icons **/
.hd-cal-calendar { float: none; position: absolute; right: 0; }

/** Interview Outline Icons **/
.hd-pls-t, .hd-pls-m, .hd-pls-b, .hd-mns-t, .hd-mns-m, .hd-mns-b, .hd-lin-t, .hd-lin-m { border: 0; }
.hd-lin-s { background-repeat: repeat-y; background-position: -240px 0; }

/** Resource Buttons **/
.hd-rsrc { display: inline; visibility: hidden; border-width: 0; vertical-align: bottom; margin-left: 3px; }

/** Dialog Title Bar Buttons **/
.hd-dlg-title { padding: 5px; background-color: #bbbccc; }
.hd-dlg-title-btn { float: right; }
DIV.DlgTitle { text-align: left; vertical-align: top; white-space: nowrap; overflow: hidden; width: 100%; }

/** Dialog Content & Layout Styles **/
TABLE.hd-content-grid { width: 100%; border-spacing: 0; table-layout:fixed; }
#hdInterviewDiv { width: auto; padding: 0; overflow:hidden; }
#hdPopupInterviewDiv { height: 100%; overflow: hidden; }
.PopupInterviewDiv { margin: 0; }
.PopupInterviewDiv #hdInterviewDiv { left: 0; top: auto; }
TD.hd-dlg-title #hdDlgTitle { margin-right: 25px; }
#hdDlgTitle * button { text-align: left; font-size: 15px; margin: 0; }
.hd-dlg-content { width: 100%; overflow: auto; overflow-x: hidden; position: relative; }


.hd-cell-input { padding:0; text-align: left; vertical-align: middle; }
.hd-cell-input>:first-child { padding:2px 5px 2px 5px; }
.hd-cell-input > button { margin-left:5px; }
.hd-cell-input > table { width: 100%; }
.hd-cell-button { padding: 4px 5px 4px 0; vertical-align: top; }

BUTTON.hd-child-btn { border: 1px solid transparent; background-color: transparent; border-radius: 4px; padding: 0 5px 0 0; margin: 0; }
BUTTON.hd-child-btn:hover { border-color: #6dbdd1; }
BUTTON.hd-child-btn:disabled { border-color: transparent; }
BUTTON.hd-child-btn.GrayField:hover { border: 1px solid transparent; }
BUTTON.hd-child-btn span { padding-left: 2px; }
BUTTON.hd-child-btn DIV { line-height: 20px; }
.hd-btn-grid BUTTON { margin: 2px; }

/** All Variables **/
.hd-input /*InputStyle*/ { /*background-color: white;*/ padding: 2px; }
INPUT.hd-input::-ms-clear, INPUT.hd-input-text-ss::-ms-clear, INPUT.hd-input-num-ss::-ms-clear, INPUT.hd-ss-text::-ms-clear { display: none; }
INPUT.hd-input-readonly /*ReadOnlyStyle*/ { border: 1px solid #d9dce0; background-color: #fafafa; }
.hd-input-wrapper { float: left; width: 100%; }
.hd-ss-text /*SpreadsheetTextStyle*/ { text-align: left; vertical-align: middle; margin: 5px; white-space: nowrap; overflow: hidden; width: 100%; }
.hd-ss-text-gray /*SpreadsheetTextGrayForeground*/ { color: Gray; }
.hd-ss-text-set /*SpreadsheetTextSetByDialogScriptForeground*/ { color: Blue; }
.hd-ss-text-readonly /*SpreadsheetTextReadOnlyForeground*/ { color: black; }
.hd-ss-text-gray:disabled, .hd-ss-text-readonly:disabled { background-color:transparent; border:0; }
.hd-ss-text-readonly:disabled { background-color:#E7E8E9; }

/** Text Variables **/
.hd-input-text /*TextInputStyle*/ { width: 100%; resize: none; }
.hd-input-text-ss /*SpreadsheetTextInputStyle*/ { height: 16px; width: 100%; }

/** Number Variables **/
.hd-input-num /*NumberInputStyle*/ { width: 100%; }
.hd-input-num-readonly /*NumberReadOnlyStyle*/ { }
.hd-input-num-ss /*SpreadsheetNumberInputStyle*/ { margin: 0; padding-left: 5px; border: 0; }

/** Date Variables **/
.hd-input-date /*DateInputStyle*/ { width: 100%; padding: 2px 1px 2px 1px; }
.hd-input-date-readonly /*DateReadOnlyStyle*/ { }
.hd-input-date-ss /*SpreadsheetDateInputStyle*/ { display: block; }
.hd-input-date-wrapper { float: left; width: 100%; padding: 0 25px 0 0 !important; }

/** True/False Variables **/
.hd-input-tf /*TrueFalseInputStyle*/ { margin: 0; padding: 0; height: auto; /*margin: 3px 3px 0 5px;*/ }
.hd-input-tf:disabled { background-color: transparent; }
INPUT.hd-input-tf-readonly /*TrueFalseReadOnlyStyle*/ { opacity: 0.4; }
.hd-input-tf-gb { width: 100%; }
.hd-input-tf-ss /*SpreadsheetTrueFalseInputStyle*/ { text-align: center; vertical-align: middle; }
INPUT.hd-input-tf + LABEL { padding-left: 5px; }
.hd-grid-cell .hd-input-tf { width:auto; }

/** Multiple Choice Variables **/
.hd-input-mc option { background-color:transparent; }
.hd-input-mc-btn /*MultipleChoiceButtonInputStyle*/ { }
.hd-input-mc-btn-readonly /*MultipleChoiceButtonReadOnlyStyle*/ { }
.hd-input-mc-cb /*MultipleChoiceComboBoxInputStyle*/ { }
.hd-input-mc-cb-item /*MultipleChoiceComboBoxItemStyle*/ { }
.hd-input-mc-cb-ss /*SpreadsheetMultipleChoiceComboBoxInputStyle*/ { height:100%; }
.hd-input-mc-cb-ss-item /*SpreadsheetMultipleChoiceComboBoxItemStyle*/ { }
.hd-input-mc-tb /*MultipleChoiceTextBoxInputStyle*/ { width:100%; }
.hd-input-mc-tb-readonly /*MultipleChoiceTextBoxReadOnlyStyle*/ { }
.hd-input-mc-lb /*MultipleChoiceListBoxInputStyle*/ { width:100%; }
.hd-input-mc-lb-readonly /*MultipleChoiceListBoxReadOnlyStyle*/ { }
.hd-input-mc-lb-item /*MultipleChoiceListBoxItemStyle*/ { }
.hd-input-mc-lb-item-readonly /*MultipleChoiceListBoxItemReadOnlyStyle*/ { color: #b7b7b7; }

LABEL.hd-input-mc-btn SPAN { padding-left: 3px; }
DIV.GrpBoxBox { overflow: hidden; }
DIV.GrpBoxBox, .hd-input-tf-gb { z-index: 1; border: 1px solid #b5b5b8; }

/** HotDocs Embedded **/
.hde-dialog .ui-dialog-title { margin: 0; }
.hde-dialog .ui-dialog-titlebar-close { display: none; }
.hde-dwnld-links { height:200px; overflow:auto; position:relative; padding:10px; }
.hde-dwnld-link { display:block; min-height:20px; width:350px; position:relative; border:1px solid transparent; /*font-size:14px;*/ cursor:pointer; border-radius:5px; }
.hde-dwnld-link:hover { background-color: lightcyan; border:1px solid cyan; }
.hde-dwnld-title { margin-left: 25px; line-height:20px; }
.hde-dwnld-warn { font-style:italic; border-top:1px solid black; padding-top: 5px; }

/** jQuery UI: These are classes used by jQuery UI widgets in the interview. **/
.ui-widget-overlay { position: fixed; left: 0; top: 0; opacity: 0.5; overflow: hidden; filter: alpha(opacity=50); width: 100%; height: 100%; background-repeat:repeat; background-color:black; }
.ui-front { z-index: 100; }

/** Sidebars **/
.hd-collapse-bar { right: 0; width: 20px; position: relative; z-index:99; padding:0; background-color: #cfd6e5; }
.hd-collapse-bar:hover { background-color: #e5decf; }
.hd-rotate90 {
	line-height:20px;
	white-space: nowrap;
	font-size: small;
	margin-top: 5px;
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.00000000, M12=-1.00000000, M21=1.00000000, M22=0.00000000,sizingMethod='auto expand');
	-moz-transform: matrix(0.00000000, 1.00000000, -1.00000000, 0.00000000, 0, 0);
	-webkit-transform: matrix(0.00000000, 1.00000000, -1.00000000, 0.00000000, 0, 0);
	-o-transform: matrix(0.00000000, 1.00000000, -1.00000000, 0.00000000, 0, 0);
	-ms-transform: matrix(0.00000000, 1.00000000, -1.00000000, 0.00000000, 0, 0);
	transform: matrix(0.00000000, 1.00000000, -1.00000000, 0.00000000, 0, 0);
}
.hd-float-title { float: left; line-height:20px; }
.hd-float-title-bar { width: 100%; overflow: hidden; background-color: #ced3dc; }
.hd-sidebar { background-color: #ffffff; position: absolute; height: 100%; border-style:solid; border-width:0 1px 0 1px; overflow: hidden; width:auto; min-width:200px; z-index:98; }
.hd-sidebar-cell { width: 0; padding: 0; position: relative; display:none; }
.sliding-resource-pane { min-height:50px; overflow:auto; padding:5px; }

DIV.RunonDlgContent { padding-bottom: 14px; }
.GrayText { color: gray; }
.HDRequired { color: #cc0033; }
.HDMarked { color: #cc0033; }
SPAN.HDSSMarked { color: #aa0000; }
TD.HDSSMarked { background-color: #ffd0d0; }
SPAN.errorText { color: #cc0033; }
DIV.hd-input-box-disabled { border-color: lightgray; }