<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
    <appSettings>
    <add key="EncryptionKey" value="ChangeThisKeyBeforeUse" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HotDocs.Server" publicKeyToken="5c9e421a71201d26" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.1.0.0" newVersion="11.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HotDocs.Server.Interop" publicKeyToken="ca70e7f08f398355" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.1.0.0" newVersion="11.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>