@model CloudServicesEmbeddedExampleInterview.Models.InterviewModel

<body onload="HD$.CreateInterviewFrame('interview', '@Model.SessionId');">
<button onclick="snapshot()">Snapshot</button>
    <a style="float:right; display:<%= System.IO.File.Exists(_snapshotFilePath) ? " block"
       "none" %>
        "
        id="resume-link" href="Default.aspx?resume=true">Resume Interview from Snapshot
    </a>
    <form id="form1" runat="server">
        <h1>Employment Agreement Generator</h1>
        <div id="interview" style="width:100%; height:600px; border:1px solid black"></div>
    </form>
