@model CloudServicesEmbeddedExampleInterview.Models.InterviewModel

<body onload="HD$.CreateInterviewFrame('interview', '@Model.SessionId');">

    <form id="form1" runat="server">
        <h1>Employment Agreement Generator</h1>
        <div id="interview" style="width:100%; height:600px; border:1px solid black">

        </div>
    </form>
