@model CloudServicesEmbeddedAPIExample.Models.InterviewModel

<body onload="HD$.CreateInterviewFrame('InterviewContainer', '@Model.SessionId'); ">

    <form id="form1" runat="server">
        <button onclick="snapshot()">Save Interview Snapshot</button>

        <h1>Employment Agreement Generator</h1>
        <div id="InterviewContainer" style="width:100%; height:600px; border:1px solid black">

        </div>
    </form>

<script>
        /* Save an Interview Snapshot */
        function snapshot() {            
            HD$.GetSnapshot(function (sessionSnapshotData) { $.post("http://localhost:65032/Home/SaveSnapshot/", { snapshot: sessionSnapshotData }); });
        }
    
    /* Embedded API Example 3: Interview Options */
    HDInterviewOptions = {
        LeaveWarning: false
    };

    HDInterviewOptions.OnInit = function () {
        HD$.AddCustomToolbarButton(
            function () { HD$.AnsGetVal('txt1', null, setSwappedName); },
            'http://localhost/CloudServicesEmbeddedAPIExample/Content/Images/btnswap.png',
            'http://localhost/CloudServicesEmbeddedAPIExample/Content/Images/btnswaph.png',
            'Swap first and last name',
            'Swap first and last name');
    };

    function setSwappedName(name) {
        var switchedName = name.split(' ').reverse().join(' ');
        HD$.AnsSetVal('txt1', switchedName, null, function () { HD$.ScreenRefresh(); });
    }
</script>

