@model JavaScriptAPIExamples.Models.InterviewModel

@{
    ViewBag.Title = "Example 4";
    ViewBag.SubTitle = "Retrieving Answer XML from the Interview";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.SubTitle</h3>

<script type="text/javascript">
    
    /* Example 4 Javascript functions */
    function GetHotDocsAnswerXml() {
        var answerXml = HDAPI.GetXMLAnswers();
        console.log(answerXml);
    }
</script>

<div>
    <!-- Example 4 Buttons -->
    <input type="button" onclick="GetHotDocsAnswerXml()" value="Get Answer XML"/><br/>    
    
    <!-- HotDocs Interview -->
    @Html.Raw(Model.InterviewFragment)    
</div>