@model JavaScriptAPIExamples.Models.InterviewModel

@{
    ViewBag.Title = "Example 1";
    ViewBag.SubTitle = "Retrieving and modifying HotDocs interview answers";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.SubTitle</h3>

<script type="text/javascript">

    /* Example 1 Javascript functions */

    function GetHotDocsAnswer() {
        var answerValue = HDAPI.GetAnswer('TextExample-t', '-1:-1:-1:-1', 'TX');
        console.log("Answer value: " + answerValue);
    }

    function SetHotDocsAnswer() {        
        HDAPI.SetAnswer('TextExample-t', "Hello World", '-1:-1:-1:-1', 'TX');
        HDAPI.ScreenRefresh();
    }

</script>

<div>
    <!-- Example 1 Buttons -->
    <input type="button" onclick="GetHotDocsAnswer()" value="Get Answer Value" />
    <input type="button" onclick="SetHotDocsAnswer()" value="Set Answer Value" />
    
    <!-- HotDocs Interview -->
    @Html.Raw(Model.InterviewFragment)    
</div>