@model SdkExample7.Models.InterviewModel

@{
    ViewBag.Title = "Example 2";
    ViewBag.SubTitle = "Custom interview options and buttons";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.SubTitle</h3>

<script type="text/javascript">
    
    /* Example 2 Interview Options*/
    HDInterviewOptions = {
        
        Width : 800,
        Height : 500,
        LeaveWarning : false,

        OnInit: function () {            
            HDAPI.AddCustomToolbarButton(CustomButtonTest, '@Url.Content("~/add.png")');
        }
    }

    function CustomButtonTest() {
        alert("Hello World");
    }

</script>

<div>    
    @Html.Raw(Model.InterviewFragment)    
</div>